.App {
  /* text-align: center; */
  min-height: 100vh; /* <-- This line is important, However it depends on what layout you have. */
  background-color: #f6f8fa; /*<-- This line is important:*/
  background-image: linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
